//  Experience
.experience
{
    display: block;
    padding:0 30px;
}
.section-heading h2
{
   font-size: 2rem;
    letter-spacing: 1.25px;
    font-family: 'Oleo Script', cursive;
    margin-bottom: 0;
}
.section-heading h3{
    font-size: 1.3em;
}