.section-menu-gallary{
    padding: 10px 30px;
}
.img-grid img{
    width:100%;
    margin:10px 0;
}
.menu-gallery{
    display:block;
}
.yellow-background{
    background-color: rgb(240, 183, 77);
    color: black;
    line-height: 30px;
    text-align: center;
    padding:55px 0;
    margin:10px 0;
}
.light-grey-background{
    background-color: rgb(187, 177, 159);
    color: black;
    line-height: 30px;
    text-align: center;
    padding:55px 0;
    margin:10px 0;
}
.menu-txt{
    text-align: center;
    color: rgb(46, 26, 14);
    font-size: 1.8rem;
}