.image-text {
    position: absolute;
    left:4.6em;
    top:76%;
    transform: translateX(-50%);
    overflow: hidden;
    text-transform: uppercase;
    white-space: nowrap;
    color:white;
    font-size: 1.8em;
    text-shadow: 2px 2px rgb(31, 21, 16);
}

.image-banner {
    position: relative;
}