.location {
 margin-right: 0;
}

.number {
 margin-left: 45%;
}

.location-box {
    display: flex;
    justify-content: space-around;
}

.courses-box {
    display: flex;
    justify-content: space-around;
}

.event-image {
    width: 100%;
}

