.event-section_01{
    width: 80%;
    margin: 0 auto;
    display: block;
}



.location {
    margin-right: 0;
}

.number {
    margin-left: 45%;
}

.location-box {
    display: flex;
    justify-content: space-around;
}

.courses-box {
    display: flex;
    justify-content: space-around;
  
}

.contact-text
{
    P{
        padding-bottom: 1.2em;
        line-height: 2em;
       }

}
.event-image {
    width: 100%;
}


.image-text {
    font-family: $scriptFont;
}

