//  Experience section 01
.experience
{
    display: block;
    padding:0 30px;
}
.section-heading h2
{
   font-size: 2rem;
    letter-spacing: 1.25px;
    font-family: 'Oleo Script', cursive;
    margin-bottom: 0;
}
.section-heading h3{
    font-size: 1.3em;
}


// catering section 02

.catering{
    padding: 30px 0;
   
}
.dark-background{
   padding: 30px;
    background-color: $dark-background;
}
.catering-img-heading{
    position: relative;
    
}
.catering-heading{
    position: absolute;
    left:5.5em;
    top:50%;
    transform: translate(-50% ,-50%);
    text-transform: uppercase;
    white-space: nowrap;
    color:white;
    font-size: 1.3em;
    text-shadow: 2px 2px rgb(31, 21, 16);
    line-height: 50px;
    background-color: rgba(31, 21, 16, 0.6);
    padding: 0 10px;
}
.catering-text{
    color:white;
    margin-top:20px;
}

// events section 03

.light-background{
    padding:30px;
    background-color: $light-background;
}
.events img{
    width:100%
}
.events-img-heading{
    position: relative;
}
.events-heading{
    position: absolute;
    left:5.5em;
    top:50%;
    transform: translate(-50% ,-50%);
    text-transform: uppercase;
    white-space: nowrap;
    color:white;
    font-size: 1.3em;
    text-shadow: 2px 2px rgb(31, 21, 16);
    line-height: 50px;
    background-color: rgba(31, 21, 16, 0.6);
    padding: 0 10px;
}
.events-text{
    margin-top:20px;
}


// home page menu grid section04

.section-menu-gallary{
    padding: 10px 30px;
}
.img-grid img{
    width:100%;
    margin:10px 0;
}
.menu-gallery{
    display:block;
}
.yellow-background{
    background-color: $yellow-background;
    color: black;
    line-height: 30px;
    text-align: center;
    padding:55px 0;
    margin:10px 0;
}
.light-grey-background{
    background-color: $light-grey-background;
    color: black;
    line-height: 30px;
    text-align: center;
    padding:55px 0;
    margin:10px 0;
}
.menu-txt{
    text-align: center;
    color: rgb(46, 26, 14);
    font-size: 1.8rem;
}