.menu{
      max-width: 1000px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
      grid-gap: 30px;
      padding: 0, 30px;
      margin:0 auto;
}
.menu-pic{
      display: block;
      position: relative;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      padding: 0;
}
.meal-pic{
            width: 100%;
            height: 100%;
       }
      .meal-pic img{
      //  object-fit: cover;
       width:100%;
       height: 100%;
       overflow: hidden;
            }
      
      .meal-time {
            position: absolute;
            z-index:2;
            height: 100%;
            width:100%;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%); 
            overflow: hidden;
            background-color:$menu-time-background-color;
            color:$fontColor;
            text-align: center;
            margin:  auto;
           

                        // .box{
                        //       position: absolute;
                        //       border:5px solid white;
                        //       z-index: 3;
                        //       height: 90%;
                        //       width:90%;
                        //       left:50%;
                        //       top:50%;
                        //       transform: translate(-50%, -50%);
                        // }
           
            h3{
                  position: absolute;
                  z-index: 4;
                  left:50%;
                  top:50%;
                  transform: translate(-50%, -50%);
                  font-size: 2em;
                 
                 
                  
            }
      }
      .details{
            padding: 20px;   
           
      }
      .name span, p{
            color:$mealColorName;
      }
     .name p{
            border-bottom: 1px dotted $light-grey-background;
            padding:10px 0;
      }


      
