// Banner

.banner-image{
    position: relative;
    margin:0;
    
}
 .banner-text{
    position: absolute;
    left:4.6em;
    top:50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    white-space: nowrap;
    color:white;
    font-size: 1.8em;
    text-shadow: 2px 2px rgb(31, 21, 16);
}