// Banner

.banner-image{
    position: relative;
    margin:0;
    
}
 .banner-text{
    position: absolute;
    left:7em;
    top:50%;
    transform: translateX(-50%);
    animation: type 4s steps(37);
    overflow: hidden;
    text-transform: uppercase;
    white-space: nowrap;
    color:white;
    font-size: 1em;
    text-shadow: 2px 2px rgb(31, 21, 16);
    width: 36ch;
}

@keyframes type{

    0%{
        width: 0ch;
    }

    100%{
        width: 37ch;
    }
}
@media (min-width: $phonePortrait)
{
    .banner-text{
        font-size: 2.5em;
    }  
}