// background-colors
$dark-background:rgb(43, 23, 12);
$light-background:rgb(221, 209, 197);
$yellow-background:rgb(240, 183, 77);
$light-grey-background:rgb(187, 177, 159);



// Media query breakpoint
$desktopMedium: 1250px;
$tabletLandscape: 1024px;
$tabletPortrait: 850px;
$phoneLandscape: 640px;
$phonePortrait: 414px;