// Background-colors
$dark-background:rgb(43, 23, 12);
$light-background:rgb(221, 209, 197);
$yellow-background:rgb(240, 183, 77);
$light-grey-background:rgb(187, 177, 159);
$menu-time-background-color: rgba( black, 0.5);

// Banner text shadow
$shadow-banner:0 0 10px rgb(207, 119, 5), 0 0 5px rgb(231, 24, 9);

// Box shadow in menu gallery
$shadow-menu-grid-index: 0px 0px 20px 7px rgba(0,0,0,0.6);

// Font color
$fontColor:white;
$mealColorName: grey;

$text-heading-image: 1.3em;
$pFontweight: 600;
$fontsizeH3: 1.6em;


// Fonts
$regularFont: 'Nunito', sans-serif;
$scriptFont: 'Oleo Script', cursive;

// Media query breakpoint
$desktopMedium: 1250px;
$tabletLandscape: 1024px;
$tabletPortrait: 800px;
$phoneLandscape: 666px;
$phonePortrait: 414px;

// Functions
// Differ from mixins in that they 
// Just return plain values instead
// Of property value pairs

@function em($px, $bc: 16){
    @return #{$px / $bc}em;
}

// Link Selector
$link: '&:hover, &:focus, &:active';

// Button color

$list1:linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
$list2: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
$list3: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
$list4:linear-gradient(to right, #603813 0%, #b29f94 51%, #603813 100%);
$list5: linear-gradient(to right, #FFA17F 0%, #00223E 51%, #FFA17F 100%);
