/* resets */
/* Resets */
/* Box Sizing Reset */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Responsive Images Reset */
img {
  max-width: 100%;
  height: auto; }

/*General Resets*/
body {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  padding: 0;
  font-family: 'PT Serif', serif; }

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1em; }

h3 {
  font-size: 1.3em; }

/* nav */
/* index section for header banner body and footer sections  */
.banner-image {
  position: relative;
  margin: 0;
  margin-bottom: 2em;
  overflow: hidden; }

.banner-image img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

.banner-text {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  animation: type 3s steps(37);
  overflow: hidden;
  text-transform: uppercase;
  white-space: nowrap;
  color: white;
  font-size: 1.3em;
  text-shadow: 0 0 10px #cf7705, 0 0 5px #e71809;
  /*2px 2px rgb(31, 21, 16);*/
  width: 100%; }

@keyframes type {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@media (min-width: 414px) {
  .banner-text {
    font-size: 1.8em; } }
@media (min-width: 666px) {
  .banner-text {
    font-size: 2.5em; } }
header {
  background-color: #110a08; }

.top-bar h3 {
  margin: 0 auto;
  font-size: 1.2em;
  text-decoration: none;
  font-family: 'Oleo Script', cursive;
  color: white; }

.top-bar h3 a {
  text-decoration: none;
  color: white; }

.top-bar h3 a:hover {
  color: #f0b74d; }

.top-bar {
  text-align: center;
  height: 100%; }

.logo {
  width: 50px;
  margin: 0 8px; }

.btn {
  display: block;
  width: 37px;
  height: 8px;
  background-color: #f0b74d;
  margin: 6px 0;
  border: 1px solid #2b170c;
  border-radius: 28%; }

button {
  display: inline-block;
  border: none;
  padding: .5rem .4rem;
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none; }

button:hover,
button:focus {
  background: black; }

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px; }

button:active {
  transform: scale(0.99); }

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; }

.hamburger {
  border: none;
  cursor: pointer;
  background-color: black;
  margin: 5px; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

nav ul li a {
  color: #bbb19f;
  text-decoration: none; }

header .overlay {
  display: block;
  height: 100vh;
  width: 0;
  position: fixed;
  opacity: 0.99;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: #2b170c;
  overflow-x: hidden;
  transition: 0.5s; }

header .overlay-nav {
  display: block;
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  width: 100vw;
  text-align: center;
  margin-top: 30px; }

.overlay li a {
  font-family: 'Oleo Script', cursive;
  font-size: 2.4em; }

.overlay li a:hover,
.overlay li a:active {
  color: #f0b74d; }

.overlay ul {
  margin: 10px; }

.overlay li {
  margin: 18px; }

.closeBtn {
  text-align: right;
  display: block;
  margin: 20px;
  padding: 5px;
  font-size: 2.4em;
  color: #f0b74d;
  animation: roll 0.5s ease-out 0 1 normal both; }

@keyframes roll {
  0% {
    left: 0; }
  10% {
    left: 10px; } }
.top-bar ul {
  display: none; }

@media (min-width: 666px) {
  .top-bar h3 {
    font-size: 2.5em; } }
@media (min-width: 414px) {
  .top-bar ul {
    display: none; } }
@media (min-width: 800px) {
  .hamburger {
    display: none; }

  .top-bar ul {
    display: flex;
    margin: 10px; }

  .top-bar li {
    margin: 10px;
    font-family: "Oleo Script", cursive;
    list-style-type: none; }

  .top-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.4em; }

  .top-menu a:hover {
    color: #f0b74d; }

  .top-bar h3 {
    margin-left: none; } }
@media (min-width: 1250px) {
  .top-menu a {
    font-size: 1.8em; } }
footer {
  background-color: #2b170c;
  border-right: 1px dashed #f0b74d;
  border-left: 1px dashed #f0b74d;
  border-bottom: 1px dashed #f0b74d; }

.bottom-container {
  padding: 8px; }

footer ul {
  list-style: none; }

footer a {
  color: #f0b74d;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

footer a:hover,
footer a:active {
  background-color: #f0b74d;
  color: #2b170c; }

.footer-menu a {
  padding-right: 5px; }

.footer-menu li {
  padding-top: 5px; }

.footer-menu ul:first-child {
  padding-top: 0px; }

.footer-menu ul {
  margin-right: 5px;
  padding-right: 5px;
  text-align: center; }

.contact-info {
  color: #f0b74d;
  font-family: 'Nunito', sans-serif;
  border: 1px solid #f0b74d;
  text-align: center;
  opacity: .4; }

.bottom-bar {
  display: flex;
  justify-content: space-between; }

footer ul {
  padding: 0; }

.copyright {
  padding: 5px;
  opacity: .4;
  color: #f0b74d; }
  .copyright p {
    text-align: center; }
  .copyright a:hover {
    cursor: pointer;
    color: white; }

footer .logo {
  margin-left: 11px;
  margin-top: 27px; }

.footer-image {
  width: 100px; }

@media (min-width: 800px) {
  .contact-info {
    width: 800px;
    margin: auto; } }
/*pages */
.experience {
  display: block;
  padding: 0 30px;
  position: relative; }

.section-heading h3 {
  display: none; }

.section-info {
  padding: 0 30px 30px 0;
  margin-bottom: 0;
  font-weight: 600;
  text-align: justify; }

.section-heading h3 {
  font-size: 1.3em; }

.par-but {
  display: none;
  border-radius: 5%;
  margin: auto;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  background-size: 400%;
  color: #2b170c;
  font-weight: 700;
  transition: all .4s ease-in-out; }

.par-but:hover {
  background-color: #2b170c;
  transform: scale(1.1);
  color: white; }

.catering {
  padding: 30px 0;
  background-color: #2b170c; }

.dark-background {
  padding: 30px;
  background-color: #2b170c; }

.catering-img-heading {
  position: relative; }

.catering-heading {
  position: absolute;
  left: 5.5em;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  color: white;
  font-size: 1.3em;
  text-shadow: 2px 2px #1f1510;
  line-height: 50px;
  background-color: rgba(31, 21, 16, 0.6);
  padding: 0 10px; }

.catering-text {
  color: white; }

.cater-button-container {
  width: 100%;
  display: flex; }

.cater-button {
  border-radius: 5%;
  margin: auto;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  background-size: 400%;
  transition: all .2s ease-in-out;
  color: #2b170c;
  font-weight: 600; }

.cater-button:hover {
  background-color: #ddd1c5;
  transform: scale(1.1);
  color: #2b170c; }

.events {
  background-color: #ddd1c5; }

.light-background {
  padding: 30px;
  background-color: #ddd1c5; }

.events img {
  width: 100%;
  border: 1px solid #2b170c; }

.events-img-heading {
  position: relative; }

.events-heading {
  position: absolute;
  left: 5.5em;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  color: white;
  font-size: 1.3em;
  text-shadow: 2px 2px #1f1510;
  line-height: 50px;
  background-color: rgba(31, 21, 16, 0.6);
  padding: 0 10px; }

.events-text p, .catering-text p {
  font-weight: 600;
  text-align: justify; }

.events-text p {
  padding: 0 30px 30px 0; }

.events-button-container {
  width: 100%;
  display: flex; }

.events-button {
  border-radius: 5%;
  margin: auto;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(to right, #603813 0%, #b29f94 51%, #603813 100%);
  background-size: 400%;
  transition: all .2s ease-in-out; }

.events-button {
  font-weight: 600;
  color: white; }

.events-button:hover {
  background-color: #f0b74d;
  transform: scale(1.1); }

.events-button:hover {
  color: #2b170c; }

@media (min-width: 666px) {
  .experience {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 30px; }

  .section-heading {
    display: block;
    margin-top: 30px; }

  .section-heading h3 {
    display: block;
    font-size: 1.6em; }

  .experience img {
    float: right;
    width: 100%;
    margin-left: 20px; }

  .par-but {
    display: block; }

  .button-chef {
    display: none; }

  /* catering section*/
  .dark-background {
    display: grid;
    grid-template-columns: 400px auto;
    grid-column-gap: 30px; }

  .dark-background h3, .light-background h3 {
    font-size: 1.6em; }

  .events-text, .catering-text {
    margin: 0;
    padding: 15% 0; }

  .events-text p, .catering-text p {
    margin: 0; }

  .carter-buton, .events-text button {
    float: right; }

  /* event section*/
  .light-background {
    display: grid;
    grid-template-columns: 400px auto;
    grid-column-gap: 30px; }

  .events-img-heading {
    float: right; } }
@media (min-width: 666px) and (min-width: 1024px) {
  .experience, .dark-background, .light-background {
    max-width: 850px;
    margin: 0 auto; }

  .catering, .events {
    padding: 0;
    width: 100%; } }
.menu-txt h2 {
  text-align: center;
  line-height: 50px;
  text-shadow: 0 0 10px #cf7705, 0 0 5px #e71809; }

.menu-txt {
  text-align: center;
  padding-top: 1em;
  text-shadow: 0 0 10px #cf7705, 0 0 5px #e71809;
  margin: 0;
  font-size: 2em; }

.container {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px; }

.container .box {
  position: relative;
  width: 100%;
  background-color: black;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.6); }

.container .box:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  transition: .5s;
  transform: scaleX(0);
  opacity: 0;
  z-index: 1;
  display: inline-block;
  padding-bottom: calc(100% / (3 / 2) ); }

.container .box:hover:before {
  transform: scaleX(1);
  opacity: 1; }

.container .box:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  box-sizing: border-box;
  transition: .5s;
  transform: scaleY(0);
  opacity: 0;
  z-index: 1; }

.container .box:hover:after {
  transform: scaleY(1);
  opacity: 1; }

.container .box .img-box {
  position: relative; }

.container .box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  display: block; }

.container .box:hover .img-box img {
  opacity: .2;
  transform: scale(1.2); }

.container .box .content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  text-align: center; }

.container .box .content h2 {
  margin: 0 0 10px;
  padding: 0;
  color: white;
  transition: 0.5s;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden; }

.container .box .content p {
  margin: 0;
  padding: 0;
  color: white;
  transition: 0.5s;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden; }

.container .box:hover .content h2, .container .box:hover .content p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition-delay: 0.2s; }

.location {
  margin-right: 0; }

.number {
  margin-left: 45%; }

.location-box {
  display: flex;
  justify-content: space-around; }

.courses-box {
  display: flex;
  justify-content: space-around; }

.event-image {
  width: 100%; }

.image-text {
  font-family: "Oleo Script", cursive; }

.menu {
  max-width: 1020px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 30px;
  margin: 0 auto; }

.menu-pic {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0; }

.meal-pic {
  width: 100%;
  height: 100%; }

.meal-pic img {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.meal-time {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  margin: auto; }
  .meal-time h3 {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em; }

.details {
  padding: 20px; }

.name span, p {
  color: grey; }

.name p {
  border-bottom: 1px dotted #bbb19f;
  padding: 10px 0; }

.menu-txt h2 {
  text-align: center;
  line-height: 50px;
  text-shadow: 0 0 10px #cf7705, 0 0 5px #e71809; }

.menu-txt {
  text-align: center;
  padding-top: 1em;
  text-shadow: 0 0 10px #cf7705, 0 0 5px #e71809;
  margin: 0;
  font-size: 2em; }

.container {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px; }

.container .box {
  position: relative;
  width: 100%;
  background-color: black;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.6); }

.container .box:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  transition: .5s;
  transform: scaleX(0);
  opacity: 0;
  z-index: 1;
  display: inline-block;
  padding-bottom: calc(100% / (3 / 2) ); }

.container .box:hover:before {
  transform: scaleX(1);
  opacity: 1; }

.container .box:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  box-sizing: border-box;
  transition: .5s;
  transform: scaleY(0);
  opacity: 0;
  z-index: 1; }

.container .box:hover:after {
  transform: scaleY(1);
  opacity: 1; }

.container .box .img-box {
  position: relative; }

.container .box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  display: block; }

.container .box:hover .img-box img {
  opacity: .2;
  transform: scale(1.2); }

.container .box .content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  text-align: center; }

.container .box .content h2 {
  margin: 0 0 10px;
  padding: 0;
  color: white;
  transition: 0.5s;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden; }

.container .box .content p {
  margin: 0;
  padding: 0;
  color: white;
  transition: 0.5s;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden; }

.container .box:hover .content h2, .container .box:hover .content p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition-delay: 0.2s; }

.art-expercience {
  display: block;
  padding: 0 40px 40px 40px; }

.art-expercience h2 {
  text-shadow: 0 0 10px #cf7705, 0 0 5px #e71809;
  font-size: 1.6em; }

article img {
  float: right;
  width: 53%;
  margin-left: 20px;
  max-width: 373px; }

.image-text {
  text-align: center;
  margin: 0;
  padding: 5px 5px 5px 8px;
  background-color: #f0b74d;
  color: black;
  border: 1px ridge #2b170c;
  position: absolute;
  z-index: 1;
  font-size: 1.5em;
  width: 100%;
  margin-top: 20px; }

.image-banner img {
  position: relative;
  z-index: 0;
  width: 100%; }

.form {
  width: 100%;
  border: 5px ridge #f0b74d;
  background-color: #ddd1c5; }

.form-item {
  display: block;
  margin: auto;
  border: 2px solid #ddd1c5;
  font-family: 'Nunito', sans-serif; }

.form-item input {
  display: block; }

.form p {
  text-align: center;
  margin: 3px;
  color: black;
  font-family: 'Oleo Script', cursive; }

.contact-text {
  margin: 10px; }

.submit {
  display: inline-block;
  border: 3px solid #f0b74d;
  padding: .5rem .4rem;
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 100px;
  margin: auto;
  margin-bottom: 20px; }

.form {
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px; }

.contact-text {
  text-align: center; }

textarea {
  width: 250px; }

@media (min-width: 666px) {
  textarea {
    width: 400px; } }

/*# sourceMappingURL=styles.css.map */
